/*Amal Kariyawasam, 2022,
This is the main CSS file 
*/
*{
background-color: #2b2a33;
}

#introduction {
background-color:#48484a;
color:#dcdcdd;
text-align: center;
}

#usage{
  color:#dcdcdd;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

#heading {
    text-align: center;
    color: red;
  }

#current_weather
{
color:#dcdcdd;
background-color:white;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 200;
}