<!DOCTYPE html>
<html lang="en">
<head>
<!-- Amal Kariyawasam, Weather App -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Weather App</title>
    </head>
<body>

    <h1 id="heading">Weather App for Australia</h1>

<div id="current_weather">
    <h1>{{weather}}</h1>    
</div>

</body>
</html>